.btn {
  width: 150px;
  height: 50px;
  background-color: #1f2937;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  color: white;
  z-index: 1;
  border: 1px solid #374151;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #374151;
    transition: width 0.5s ease;
    border-radius: 10px;
  }

  &:hover::after {
    width: 100%;
  }
}

i {
  font-size: 10rem;
}
